<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prefix</key>
	<string>SZC_WG_</string>
	<key>module</key>
	<string>AfterService</string>
	<key>parameter</key>
	<dict/>
	<key>dataList</key>
	<dict/>
	<key>actionList</key>
	<array/>
</dict>
</plist>
